# Ignore node_modules and build output directories
node_modules/
dist/
out/

# Ignore TypeScript declaration files
**/*.d.ts

# Ignore specific files that might not need linting
package-lock.json
yarn.lock

.eslintrc.js
tailwind.config.js
postcss.config.js
vite.config.ts
